.table-content-container {
  padding: 0px 30px;
  display: flex;
  .table-content {
    position: sticky;
    align-self: flex-start;
    top: 20vh;
    width: 20%;
    .table-content-item {
      cursor: pointer;
    }
  }
  .table-content-text {
    width: 80%;
  }
}
