@import "../projects/index.less";
@import "../about/about.less";
@import "../contact/contact.less";
@import "../footer/footer.less";
@import "../fun/fun.less";
@import "../home/home.less";
@import "../navigation/navbar.less";
@import "../movingImage/movingImage.less";

.website-content {
  z-index: 30;
}
.fourohfour-container {
  padding-top: 100px;
  width: 100%;
  height: 30vh;
}
.fourohfour-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.contact-button {
  padding: 6px;
  border-radius: 8px;
  background-color: var(--stylingColor);
  text-decoration: none;
  cursor: pointer;
}
