.navbar-root {
  height: 80px;
  background-color: #212b28;
  color: #f5f9ff;
  position: fixed;
  z-index: 10;
  width: 100%;

  .navbar-container {
    width: 80%;
    margin: auto;

    .navbar-title {
      width: 100px;
      display: flex;
      text-align: center;
    }
  }
}
