@import "./../../styles.css";

.home-container {
  position: relative;
}
.home-title {
  padding: 180px 0px 206px 134px;
  transition: opacity 500ms ease-in;
  h1 {
    width: fit-content;
  }
}
.home-welcome {
  padding-left: 156px;
  padding-top: 120px;
  width: 60%;
  h2:first-child {
    font-family: "Fira Sans";
    font-weight: 700;
  }
}
