@import "./../../styles.css";

.home-container {
  position: relative;
}
.home-title {
  padding: 180px 0px 206px 134px;
  transition: opacity 500ms ease-in;
  position: relative;
  @media only screen and (max-width: 800px) {
    padding: 180px 0px 246px 34px;
  }
  h1 {
    width: fit-content;
  }
}
.home-welcome {
  position: relative;
  padding-left: 156px;
  padding-top: 120px;
  width: 60%;
  h2:first-child {
    font-family: "Fira Sans";
    font-weight: 700;
  }
  @media only screen and (max-width: 800px) {
    padding-top: 40px;
    padding-left: 46px;
    width: 80%;
  }
}
.home-projects-container {
  padding-top: 120px;
  margin: 0 156px;
  @media only screen and (max-width: 800px) {
    padding-top: 30px;
    margin: 0 76px;
  }
  @media only screen and (max-width: 500px) {
    margin: 0 36px;
  }
  .home-project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
    .home-project-image {
      align-self: center;
      width: 40%;
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
    .home-project-text-container {
      width: 55%;
      @media only screen and (max-width: 600px) {
        width: 100%;
        text-align: center;
      }

      .home-project-link {
        font-family: "Fira Sans";
        font-size: 1.4em;
        line-height: 1.3em;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        color: var(--fontColor);
        display: block;
        width: 262px;
        .home-project-link-hover {
          height: 3px;
          background-color: var(--fontColor);
          position: relative;
          display: block;
          top: 28px;
          width: 0px;
          transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &:hover {
          .home-project-link-hover {
            width: 100%;
          }
        }
      }
    }
  }
}
