html,
body {
    margin: 0;
    height: 100%;
    background-color: #FFFBF5;
}

h2 {
    font-family: 'Amaranth', Helvetica, Arial, Lucida, sans-serif;
    font-size: 30px;
    margin: 0px;
    font-weight: 500;
}