:root {
  --stylingColor: rgb(171, 199, 214);
  --stylingColorTransparent: rgb(171, 199, 214, 0.5);
  --fontColor: #0c394e;
  --fontColorLight: #608da2;
  --fontColorActive: #135777;
  --websiteBackgroundColor: #fffbf5;
}
